<div class="container mainContainer">
  <div class="row">
    <div class="col-md-8">
      <h2>ხელმოწერის გენერატორი</h2>
    </div>
    <div class="col-md-2">
      <button class="btn btn-info">ინსტრუქცია</button>
    </div>
    <div class="col-md-2 logo">      
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-md-12 alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      მისაღებია მხოლოდ ლათინური სიმბოლოები, რიცხვები და -(),_&
    </div> -->
  </div>
</div>
<hr>
<router-outlet></router-outlet>
