<div class="signatureCreateContainer">
    <div class="row">
        <div class="col-md-8">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h3 class="card-title">ხელმოწერის გენერატორი</h3>
                   <div class="col-md-12">
                       <div class="row imagesRow">
                           <div class="col-md-2 container">
                               <input type="radio" #logo1 [(ngModel)]="SignatureModel.LogoImage" value="../../../assets/images/ChooseLogo/logo1.png">
                               <img src="../../../assets/images/ChooseLogo/logo1.png" [ngClass]="status==1?'active':''" (click)="logo1.click();status=1"/>
                           </div>
                           <div class="col-md-2 container">
                            <input type="radio" #logo2 [(ngModel)]="SignatureModel.LogoImage" value="../../../assets/images/ChooseLogo/logo2.png">
                            <img src="../../../assets/images/ChooseLogo/logo2.png" [ngClass]="status==2?'active':''"  (click)="logo2.click();status=2"/>
                        </div>
                        <div class="col-md-2 container">
                            <input type="radio" #logo3 [(ngModel)]="SignatureModel.LogoImage" value="../../../assets/images/ChooseLogo/logo3.png">
                            <img src="../../../assets/images/ChooseLogo/logo3.png" [ngClass]="status==3?'active':''"  (click)="logo3.click();status=3"/>
                        </div>
                        <div class="col-md-2 container">
                            <input type="radio" #logo4 [(ngModel)]="SignatureModel.LogoImage" value="../../../assets/images/ChooseLogo/logo4.png">
                            <img src="../../../assets/images/ChooseLogo/logo4.png" [ngClass]="status==4?'active':''"  (click)="logo4.click();status=4"/>
                        </div>
                        <div class="col-md-2 container">
                            <input type="radio" #logo5 [(ngModel)]="SignatureModel.LogoImage" value="../../../assets/images/ChooseLogo/logo5.png">
                            <img src="../../../assets/images/ChooseLogo/logo5.png" [ngClass]="status==5?'active':''"  (click)="logo5.click(); status=5"/>
                        </div>
                       </div>
                       <div class="row inputRow">
                           <div class="col-md-6">
                               <input type="text" [(ngModel)]="SignatureModel.FirstName" class="form-control" placeholder="სახელი">
                           </div>
                           <div class="col-md-6">
                            <input type="text" [(ngModel)]="SignatureModel.LastName" class="form-control" placeholder="გვარი">
                           </div>
                       </div>
                       <div class="row inputRow">
                        <div class="col-md-12">
                            <input type="text" [(ngModel)]="SignatureModel.Postition" class="form-control" placeholder="თანამდებობა">
                        </div>

                    </div>
                    <div class="row inputRow">
                        <div class="col-md-6">
                            <input type="text" [(ngModel)]="SignatureModel.Sector" class="form-control" placeholder="ქვედანაყოფი">
                        </div>
                        <div class="col-md-6">
                         <input type="text" [(ngModel)]="SignatureModel.Department" class="form-control" placeholder="დეპარტამენტი">
                        </div>
                    </div>
                    <div class="row inputRow">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-default active">
                              <input type="radio" (click)="SignatureModel.IsHeadOffice=true;changeOfficeAddress()" > სათავო ოფისი
                            </label>
                            <label class="btn btn-default">
                              <input type="radio"(click)="SignatureModel.IsHeadOffice=false;changeOfficeAddress()" > სერვის ცენტრი
                            </label>
                          </div>
                    </div>
                    <div class="row inputRow" *ngIf="SignatureModel.IsHeadOffice==false">
                        <div class="col-md-6">
                            <select [(ngModel)]="SignatureModel.City" class="form-control">
                                <option value="undefined"> აირჩიეთ ქალაქი</option>
                                <option value="თბილისი">თბილისი</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                                <input type="text" [(ngModel)]="SignatureModel.OfficeAddress" class="form-control">
                        </div>
                    </div>
                    <div class="row inputRow">
                        <div class="col-md-6">
                            <input type="number" [(ngModel)]="SignatureModel.OfficePhone" class="form-control" placeholder="ოფისის ტელეფონის ნომერი">
                        </div>
                        <div class="col-md-6">
                         <input type="number" [(ngModel)]="SignatureModel.InternalPhone" class="form-control" placeholder="შიდა ნომერი">
                        </div>

                    </div>
                    <div class="row inputRow">
                        <div class="col-md-6">
                            <input type="number" [(ngModel)]="SignatureModel.MobileNumber" class="form-control" placeholder="მობილურის ნომერი">
                        </div>
                        <div class="col-md-6">
                         <input type="email" [(ngModel)]="SignatureModel.Email" class="form-control" placeholder="ელ.ფოსტა">
                        </div>

                    </div>
                   </div>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card col-md-12">
                <h3 class="card-title" style="padding-top:20px;">ხელმოწერა</h3>
                <div class="card-body textColorGray" >
                  
                  <b><p *ngIf="SignatureModel.FirstName" style="color:grey;font-weight:bold;" >{{SignatureModel.FirstName}}<label *ngIf="SignatureModel.LastName">&nbsp; {{SignatureModel.LastName}}</label><p></p></b><br><br>
                  <p *ngIf="SignatureModel.Postition" style="color:grey;" >{{SignatureModel.Postition}}</p>
                  <p *ngIf="SignatureModel.Sector" style="color:grey;" >{{SignatureModel.Sector}}</p>
                  <p *ngIf="SignatureModel.Department" style="color:grey;" >{{SignatureModel.Department}}</p>

                  <p *ngIf="SignatureModel.City" style="color:grey;">{{SignatureModel.City}},<span *ngIf="SignatureModel.OfficeAddress">{{SignatureModel.OfficeAddress}}</span></p>
                  <p *ngIf="SignatureModel.Email" style="color:grey;">E-Mail:<span *ngIf="SignatureModel.Email">{{SignatureModel.Email}}</span></p>
                  <p *ngIf="SignatureModel.OfficePhone" style="color:grey;">Phone: (+995) {{SignatureModel.OfficePhone}} (ext. {{SignatureModel.InternalPhone}})</p>
                  <p *ngIf="SignatureModel.MobileNumber" style="color:grey;">Mobile: {{SignatureModel.MobileNumber}}</p>
             
                
                  <p class="card-text"><img [src]="SignatureModel.LogoImage" #CopyText></p>
                
                  <div *ngIf="SignatureModel.IsHeadOffice==true"></div>
                  <a (click)="copyClipboard()" class="btn btn-primary">დაკოპირება</a>
                </div>
              </div>
        </div>
    </div>
</div>