@font-face{
    font-family: WebFont;
    src: url('../../../assets/fonts/BPGMrgvlovani2010.ttf');
}
* , html, body{
    font-family: WebFont;
}
.signatureCreateContainer{
    margin-left: 0px;
    width: 98%;
    
}

input[type=radio]{
    display: none;
}
.active{
    border-bottom: rgba(9, 132, 227,1.0) 2px solid;
}
.inputRow{
    margin-top: 30px;
}
.textColorGray{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(108,111,112);
}
